<div class="event-draft shadow-sm rounded mb-3">
    <div class="top" [ngStyle]="{'background-image': 'url('+ url +')'}">

 
    </div>
    <div class="bottom">
        <h3 class='title' style="font-size: 16px;margin-bottom: 7px;color: #313131;">{{event?.body}}</h3>
        <div style="display: flex;justify-content: space-between; margin-bottom: 1rem;">
            <span>Budget Spent</span>
            <span style="color: #afafaf;">$100</span>
        </div>
        <div style="display: flex;justify-content: space-between; margin-bottom: 1rem;">
            <span><i class="bi bi-people mx-1"></i>Reach</span>
            <span style="color: #afafaf;">148</span>
        </div>
        <div style="display: flex;justify-content: space-between; margin-bottom: 1rem;">
            <span><i class="bi bi-star mx-1"></i>Responses</span>
            <span style="color: #afafaf;">{{ event.likes_count + event.attending_count }}</span>
        </div>
        <div style="display: flex;justify-content: space-between; margin-bottom: 1rem;">
            <span><i class="bi bi-tag mx-1"></i>Ticket Clicks</span>
            <span style="color: #afafaf;">55</span>
        </div>
        <div class="row gap-2 px-2">
            <button (click)="openDialog()" class="col-12">
                <i class="bi bi-pencil-square mx-2"></i> Edit
            </button>      
        </div>
    </div>
</div>
