<div style="padding: 10px 0;border-top: 1px solid #e6e6e6;">
    <div style="display: flex;align-items: flex-start;">
        <div>
            <div style="width: 40px;height: 40px;border-radius: 100%;background-size: cover;" [ngStyle]="{'background-image': 'url('+ url +')'}"> 

            </div>
        </div>
        <div style="margin-left: .5rem;">
            <p class="mb-0">{{ comment?.body }}</p>
            <div style="padding: 3px 0;">
                <small>like | dislike</small>
            </div>
        </div>
    </div>
</div>