<div class="event-wrapper">
    <div class="container">
        <div class="row mt-5">
            <div class="d-flex gap-2">
                <div class="col-12 col-md-12 col-lg-7 col-lg-8">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam assumenda commodi neque a facere, voluptatum harum pariatur eaque mollitia qui.
                </div>
                <div class="col-12 col-md-12 col-lg-5 col-lg-4">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus inventore totam hic! Cum, beatae debitis.
                </div>
            </div>
        </div>
    </div>
</div>