<div class="my-4 dash shadow-sm rounded">
    <ul>
        <li (click)="toggle('dashboard')" class="nav-items" [ngClass]="current === 'dashboard' ? 'active' : null"><span class="mx-2"><i class="bi bi-columns-gap"></i></span>Dashboard</li>
        <li (click)="toggle('about')" class="nav-items" [ngClass]="current === 'about' ? 'active' : null"><span class="mx-2"><i class="bi bi-info-circle"></i></span>About</li>
        <li (click)="toggle('discussions')" class="nav-items" [ngClass]="current === 'discussions' ? 'active' : null"><span class="mx-2"><i class="bi bi-chat"></i></span>Discussions</li>
        <li (click)="toggle('blogs')" class="nav-items" [ngClass]="current === 'blogs' ? 'active' : null"><span class="mx-2"><i class="bi bi-calendar"></i></span>Blogs</li>
    </ul>
</div>