.dash {
    background-color: #ffff;

    ul {
        display: flex;
        list-style: none;
        padding: .5rem;

        .nav-items {
            flex: 1 1 auto;
            text-align: center;
            padding: 10px;
            border-radius: 5px;
            transition: all ease .3s;
            cursor: pointer;
        }
    }
}