.footer {
    padding: 23px 0;
    background-color: #fafafa;
    align-items: center;
    color: #313131;

    .container {
        .row {
            display: flex;
            justify-content: space-between;

            .wrapper {
                display: flex;
                justify-content: space-between;

                div {
                    height: 100%;
                    display: flex;
                    align-items: center;
    
                    a {
                        margin: 0 15px;
                        cursor: pointer;
                    }
    
                    p {
                        margin-bottom: 0;
                    }
                }
            }

        }
    }
}


//media queries
@media screen and (max-width: 812px) {
    .wrapper {
        a,p {
            font-size: 12px;
        }
    }
}


@media screen and (max-width: 768px) {
    .wrapper {
        flex-direction: column;

        div {
            justify-content: center;

            .two {
                flex-basis: 1;
            }

            .one {
                flex-basis: 2;
            }
        }
    }
}



@media screen and (max-width: 369px) {
    .wrapper {
        #one {
            display: flex;
            flex-direction: column;
        }
    }
}