<div class="footer">
    <div class="container">
        <div class="row">
            <div class="wrapper">
                <div>
                    <a>Privacy</a>
                    <a>Terms & Conditions</a>
                    <a>About</a>
                    <a>Contact Us</a>
                </div>
                <div>
                    <i style="color: #ff7555;font-size: 1.5rem;" class="bi bi-brilliance mr-3"></i>
                    <p class="mx-3">2023 Genie. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>
