.navbar {
    height: 60px;
    background-color: #212529;
    display: flex;
    justify-content: space-between;
    padding: 0 28px;

    input {
        border: none;
        padding: 6px 12px;

        &:active, &:focus {
            outline: none;
            border: none;
        }

    }

    #links {
        color: #FFFFFF80;

        a {
            padding:0 6px;
            cursor: pointer;
            transition: all ease .3s;

            &:hover {
                color: #fff!important;
            }
        }

    }

    #icons {
        color: #FFFFFF80;
        display: flex;
        align-items: center;

        i {
            font-size: 22px;
            padding: 13px 15px;
            cursor: pointer;
        }
    }
}


@media screen and (min-width: 900px) {
    #burger {
        display: none;
    }
}


@media screen and (max-width: 1348px) {
    .navbar {
        padding: 0 auto;
    }
}