<div class="navbar" style="padding: 0 130px;">
  <div class="container">
    <div>
        <div>
            <input class="rounded" type="text" placeholder="Search events by categories">
        </div>
    </div>
    <div id="links">
        <a>Home</a>
        <a>Explore</a>
        <a>Discussion</a>
        <a>Pages</a>
        <a>Blog</a>
    </div>

    <div id="icons">
        <div 
        style="width: 36px;height: 36px;border-radius: 100%;background-color: tomato;display: flex;
        align-items: center;justify-content: center;cursor: pointer;">
            <i style="color: white;" class="bi bi-plus"></i>
        </div>
        <i class="bi bi-person-add"></i>
        <i class="bi bi-chat-left"></i>
        <i class="bi bi-bell"></i>

        <div>
            <div style="width: 35px;height: 35px;border-radius: 100%;background-color: teal;">

            </div>
        </div>
    </div>
  </div>
</div>
