<div class="event shadow-sm rounded mb-3">
    <div style="position: relative;" class="top">

        <div style="position: absolute;right: 1rem;top: 1rem;background-color: rgba(209, 209, 209, 0.1);border-radius: 5px;height: 30px;width: 30px;cursor: pointer;display: flex;align-items: center;justify-content: center;" class="more-wrapper">
            <i style="color: #f1f1f1;font-size: large;" class="bi bi-three-dots-vertical"></i>
        </div>
    </div>
    <div class="bottom">
        <p style="font-size: 12px;color: #847577;text-transform: uppercase">{{ event.date | date: 'fullDate' }}</p>
        <h3 (click)="viewEventDetails()"  class='title accent-color' style="font-size: 16px;margin-bottom: 7px;color: #313131;text-transform: capitalize;cursor: pointer;">{{ event.body }}</h3>
        <p style="font-size: 14px;color: #847577;">Race Course</p>
        <p style="font-size: 14px;color: #847577;">{{ event?.likes_count + event?.attending_count }} Interested . {{ event?.attending_count }} Going</p>
        <div class="row gap-2 px-2">
            <button class="col-7">
                <i (click)="attendEvent()" [ngClass]=" event.liked ? 'liked' : '' " class="bi bi-star"></i> Interested
            </button>
            <button  style="max-width: max-content;" class="col-12">
                <i class="bi bi-share"></i>
            </button>
        </div>
    </div>
</div>
