<div class="weather shadow-sm">
    <div class="top-weather">

        <div class="weather-left">
            <div style="margin-bottom: 19px;" class="weather-city">
                Nairobi
            </div>
            <div style="margin-bottom: 10px;" class="weather-text">
                Monday
            </div>
            <div style="margin-bottom: 10px;" class="weather-text">
                14 Oct 2023
            </div>
            <div style="margin-bottom: 10px;" class="weather-text">
                <i class="bi bi-droplet-fill"></i> 30%
            </div>
        </div>

        <div class="weather-right">
            <i style="font-size: 50px;" class="bi bi-sun"></i>
           <span style="font-size: 50px;font-weight: bold;margin-top: 35px;" >22</span>
        </div>
    </div>
</div>
