<div style="border: 1px solid #a7a8aa8c; cursor: pointer;" class="rounded d-flex align-items-center my-2">
    <div (click)="viewBlogDetails()" class="col-xl-8 col-lg-8 col-md-6 d-flex align-items-center" style="border-right: 1px solid #a7a8aa;padding: 4px;">
        <div style="width: 40px;aspect-ratio: 1;background-position: center;background-size: cover;" [style]="{'background-image': 'url('+ blog.banner_image +')'}"  class="rounded">

        </div>
        <a class="mx-1" style="font-weight: bold;text-decoration: none;color: inherit;">{{ blog.title }}</a>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 align-items-center">
        <ul style="list-style: none;display: flex;justify-content: space-between;align-items: center;padding: 4px;color: #847577;" class="mb-0">
            <li>5h</li>
            <li>3k Views</li>
            <li>
                <i style="font-size: large;" class="bi bi-three-dots-vertical" type="button"  data-bs-toggle="dropdown" aria-expanded="false" ></i>
                <div>
                    <div class="dropdown">
                        <ul class="dropdown-menu">
                          <li (click)="onUpdateBlog()"><a class="dropdown-item"><i class="bi bi-pencil-square" style="color: #ff7555;"></i> edit</a></li>
                          <li (click)="deleteBlog()"><a class="dropdown-item"><i class="bi bi-trash3" style="color: rgb(250, 37, 37);"></i> delete</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
