<div style="border: 1px solid #a7a8aa8c; cursor: pointer;" class="rounded d-flex align-items-center my-2" (click)="viewBlogDetails()">
    <div class="col-xl-8 col-lg-12 col-md-12 d-flex align-items-center" style="border-right: 1px solid #a7a8aa;padding: 4px;">
        <div style="width: 40px;aspect-ratio: 1;background-color: #ff7555;" class="rounded">

        </div>
        <a class="mx-1" style="font-weight: bold;text-decoration: none;color: inherit;">{{ blog.title }}</a>
    </div>
    <div class="col-xl-4 col-lg-12 col-md-12 align-items-center">
        <ul style="list-style: none;display: flex;justify-content: space-between;align-items: center;padding: 4px;color: #847577;" class="mb-0">
            <li>5h</li>
            <li>3k Views</li>
            <li>5 Replies</li>
        </ul>
    </div>
</div>
