<div class="row shadow-sm rounded">
    <div class="col-lg-6 col-xl-3 col-md-6 col-6">
        <span>Events</span>
        <h2>3</h2>
        <small>+1 last 30 days</small>
    </div>
    <div class="col-lg-6 col-xl-3 col-md-6 col-6">
        <span>People Reached</span>
        <h2>55</h2>
        <small>+50 last 30 days</small>
    </div>
    <div class="col-lg-6 col-xl-3 col-md-6 col-6">
        <span>Response</span>
        <h2>18</h2>
        <small>+15 last 30 days</small>
    </div>
    <div class="col-lg-6 col-xl-3 col-md-6 col-6">
        <span>Ticket Click</span>
        <h2>12</h2>
        <small>+10 last 30 days</small>
    </div>

</div>
