<div class="categories shadow-sm rounded">
    <div id="header">
        <h3 class="mb-0" style="color: black;font-weight: bold;">Categories</h3>
    </div>
    <div class="list">
        <div>
            <i class="bi bi-music-note-beamed"></i>
            <p>Music</p>
        </div>
        <div>
            <i class="bi bi-wallet"></i>
            <p>Classics</p>
        </div>
        <div>
            <i class="bi bi-emoji-laughing"></i>
            <p>Comedy</p>
        </div>
        <div>
            <i class="bi bi-scissors"></i>
            <p>Crafts</p>
        </div>
        <div>
            <i class="bi bi-person-arms-up"></i>
            <p>Dance</p>
        </div>
        <div>
            <i class="bi bi-cup-straw"></i>
            <p>Drinks</p>
        </div>      
        <div>
            <i class="bi bi-cup-hot-fill"></i>
            <p>Foods</p>
        </div>
        <div>
            <i class="bi bi-controller"></i>
            <p>Games</p>
        </div>
        <div>
            <i class="bi bi-tools"></i>
            <p>Gardening</p>
        </div>
        <div>
            <i class="bi bi-bandaid-fill"></i>
            <p>Health & Medical</p>
        </div>
        <div>
            <i class="bi bi-balloon-fill"></i>
            <p>Healthy living and self-care</p>
        </div>
        <div>
            <i class="bi bi-tree-fill"></i>
            <p>Home and Garden</p>
        </div>
        <div>
            <i class="bi bi-cake2-fill"></i>
            <p>Parties</p>
        </div>
    </div>
</div>