<div class="card shadow-sm" style="border: none;">
    <div id="top" style="height: 107px;position: relative;">

        <div 
        id="user-img"
        class="shadow-sm"
        style="height: 110px;width: 110px;border-radius: 100%;border: 2px solid rgb(255, 255, 255);outline-offset: 1px;position: absolute;left: 50%;background-color: red;">

        </div>
    </div>
    <div class="text-center" style="margin-top: 60px;">
        <h3 class="mb-0">John Doe</h3>
        <small style="color: #a7a8aa;"><i style="color: tomato;" class="bi bi-geo-alt"></i> Kenya</small>
        <div class="my-2" style="display: flex;height: 50px;">
            <div style="border-right: 1px solid #a7a8aa;width: 100%;">
                <h4>Followers</h4>
                <p style="color: #a7a8aa;">3</p>
            </div>
            <div style="width: 100%;">
                <h4>Following</h4>
                <p style="color: #a7a8aa;">1</p>
            </div>
        </div>
        <h3 style="cursor: pointer;" class="mt-4">View Profile</h3>
    </div>
</div>