<div class="create-event">
    <div style="width: 100%;display: flex;justify-content: space-between;align-items: center;">
        <h3 style="font-weight: bold;color: #ff7555;">Update Event</h3>
        <p style="cursor: pointer;" (click)="closeDialog()">x</p>
    </div>
    <form #editForm="ngForm" (ngSubmit)="onFormSubmit(editForm)">
        <div class="img mb-2">
            <div class="file">
                <input type="file" name="file" style="display: none;">
                <p class="mb-0"><i class="bi bi-image"></i><span class="mx-5">Upload Cover Image</span></p>
            </div>
            <small>We recommend using a photo that is 1200X628 pixels.</small>
        </div>
        <div class="form-group mb-2">
            <label for="name">Name*</label>
            <input type="text"  placeholder="Enter Event Name" class="form-control" [(ngModel)]="event.body" id="body" name="body">
        </div>

        <div class="form-group mb-3">
            <label for="date">Start Date*</label>
            <input type="datetime-local"  class="form-control" name="date" [(ngModel)]="event.date" id="date">
        </div>

        <div class="form-group mb-2">
            <label for="ticket_price">Price*</label>
            <input type="text" placeholder="Ticket Price"  class="form-control" name="ticket_price" id="ticket_price" [(ngModel)]="event.ticket_price">
        </div>

        <div class="form-group mb-2">
            <label for="age">Age*</label>
            <input type="text" placeholder="Enter Age Limit"  class="form-control" name="age" id="age" [(ngModel)]="event.age_limit">
        </div>

        <button class="w-100" style="background-color: #ff7555;border: none;outline: none;border-radius: 5px;height: 40px;color: #ffff;">Update Event</button>
    </form>
</div>
