.create-event {
    width: 636px;
    padding: 15px;

    .img {
        height: 120px;
        padding: 30px;
        text-align: center;
        background-color: #e6e6e6;
        border-radius: 5px;

        .file {
            background-color: #ffff;
            border-radius: 5px;
            cursor: pointer;
            color: #313131;
            padding: 12px 20px;
            width: max-content;
            margin: 0 auto;
            transition: all ease .3s;
        }
    }

    input, textarea {
        &:hover, &:focus {
            outline: none!important;
        }
    }

}