#homepage {
    padding: 32px 16px;

    input {
        height: 40px;
        min-width: 239px;

        &:active, &:focus {
            outline: none;
        }
    }

    #tile {
        background-image: url(../../../assets/top.jpg);
        position: relative;  
        background-size: cover;
        background-position: center;


        .overlay {
            z-index: 2;
            background-color: #c4c4c40c;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            padding: 40px 10px;
            color: #ffffff;
        }
    }


    #events {
        padding-left: 1rem;

        .col-6 {
            width: 139px;
            height: 114px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            color: #ffffff;
            flex-direction: column;
            
            i {
                font-size: 1.2rem;
            }
        }
    }
}