<div class="row" id="homepage">
    <div class="container-fluid">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-md-3">
                    <app-user-card></app-user-card>
                </div>
    
                <div class="col-md-6">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur dolor consequatur consectetur, excepturi id delectus ab cumque, minus atque quod deleniti!
                </div>
    
                <div class="col-md-3">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi, et!
                </div>
            </div>
        </div>
    </div>
</div>
