<div class="auth-wrapper container-fluid py-5">
    <div class="row shadow-sm rounded w-75 mx-auto" style="height: 100%;">
        <div  class="left col-12 col-md-5 col-xs-6 left" style="padding: 40px;">
            <i style="color: #ff7555;font-size: 1.5rem;cursor: pointer;" routerLink="/" class="bi bi-brilliance mr-3" ></i>
        </div>
        <div class="right col-12 col-md-5 col-xs-6 text-center" style="padding: 40px;display: flex;justify-content: center;flex-direction: column;height: 100%;">
            <h3 style="font-weight: bold;">Sign Up to Genie</h3>
            <div>
                <form [formGroup]="loginForm" (submit)="onFormSubmit()">
                    <div class="form-group mb-2">
                        <input type="text" formControlName="email" placeholder="Username" class="form-control">
                    </div>
                    <div class="form-group mb-2">
                        <input type="password" formControlName="password" placeholder="Password" class="form-control">
                    </div>                        
                    <div class="my-2">
                        <button type="submit"  style="background-color: #ff7555;border-radius: 5px;padding: 10px;border: none;color: #fff;width: 100%;">Login</button>
                    </div>
                    <small>If you don't have an account? <span style="cursor: pointer;color: #ff7555;" routerLink="/signup">Signup</span></small>
                </form>
            </div>
        </div>
    </div>
</div>

