<div class="user-profile">
    <div class="header-bg" [style]="{'background-image': 'url(' + userObject?.profile_background_image +')'}">
        <a style="padding: 12px 20px;background-color: #fff; border-radius: 5px;" class="shadow-sm hover-actions">
            <span class="mx-1"><i class="bi bi-image"></i></span>
            Change Image
        </a>
    </div>

    <div class="main-content">
        <div class="container">
            <div class="row wrapper">
                <div class="col-md-12 col-lg-5 col-xl-4">
                    <div class="user-plank text-center shadow-sm rounded">
                        <div style="width: 130px;height: 130px;border-radius: 100%;border: 1px solid #ff7555;margin: 0 auto;" class="user-avatar" [ngStyle]="{'background-image': 'url(' + userObject?.avatar + ')'}">

                        </div>
                        <h3 style="font-weight: bold;font-size: 18px;color: #313131;margin: 32px 0 8px;">{{userObject?.first_name}} {{userObject?.last_name}}</h3>
                        <small style="font-size: 14px;color: #a7a8aa;"><span><i style="color: tomato;" class="bi bi-geo-alt"></i></span>Kenya</small>
                        <div class="following-tabs" style="display: flex;width: 100%;height: 50px;margin-top: 30px;">
                            <div clas="tab" style="border-right: 1px solid #a7a8aa;width: 50%;">
                                <h3>3</h3>
                                <span>Followers</span>
                            </div>

                            <div class="tab" style="width: 50%;">
                                <h3>2</h3>
                                <span>Following</span>
                            </div>
                        </div>
                        <div class="mt-4">
                            <p style="font-size: 14px;color: #847577;">{{userObject?.bio}}</p>
                        </div>
                        <div (click)="openDialog()" class="text-center hover-actions" style="display: flex;font-weight: 400;border-radius: 5px;border: 1px solid #e6e6e6;background: #fff;padding: 10px 60px;width: max-content;margin: 30px auto;">
                            <small><span class="mx-2"><i class="bi bi-gear"></i></span>Profile Editing</small>
                        </div>
                        <div style="margin-top: #ff7555;">
                            <h4 style="font-weight: bold;margin-top: 37px;">Find Me On</h4>
                            <div class="profile-social-links">
                                <div class="icon hover-actions">
                                    <i class="bi bi-facebook"></i>
                                </div>
                                <div class="icon hover-actions">
                                    <i class="bi bi-instagram"></i>
                                </div>
                                <div class="icon hover-actions">
                                    <i class="bi bi-twitter-x"></i>
                                </div>
                                <div class="icon hover-actions">
                                    <i class="bi bi-linkedin"></i>
                                </div>
                                <div class="icon hover-actions">
                                    <i class="bi bi-youtube"></i>
                                </div>
                                <div class="icon hover-actions">
                                    <i class="bi bi-dribbble"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-7 col-xl-8">
                    <app-dash-buttons (currentTile)="updateTile($event)"></app-dash-buttons>

                    <div id="dash" *ngIf="currentTile === 'dashboard'">
                        <app-stats></app-stats>
                        <div class="my-4 shadow-sm rounded" style="background-color: #ffff;">
                            <div class="header-wrapper" style="display: flex;justify-content: space-between;align-items: center;border-bottom: 1px solid #e6e6e6;padding: 12px;">
                                <h3 style="margin-bottom: 0;font-weight: bold;font-size: 18px;">Events</h3>
                                <button style="background-color: #ff7555;border-radius: 5px;color: #ffff;height: 40px;line-height: 14px;border: none;padding: 0 13px;">Create</button>
                            </div>
                            <div style="display: flex;align-items: center;padding: 20px;border-bottom: 1px solid #e6e6e6;">
                                <div>
                                    <input type="text" placeholder="Search event" style="border: none;">
                                </div>
                                <div>
                                    
                                </div>
                                <div>
    
                                </div>
                            </div>
                            <div style="padding: 20px;" class="d-flex gap-3 flex-wrap">                      
                                <app-event-draft [event]="event" *ngFor="let event of events" ></app-event-draft>                                            
                            </div>
                        </div>
                    </div> 

                    <div *ngIf="currentTile === 'about'" id="about" class="my-4 shadow-sm rounded" style="background-color: #ffff;">
                        <div style="display: flex;justify-content: space-between;align-items: center;border-bottom: 1px solid #e6e6e6;padding: 12px;">
                            <h3 class="mb-0" style="font-weight: bold;">About</h3>
                            <button (click)="openDialog()" style="background-color: #ff7555;border-radius: 5px;color: #ffff;height: 40px;line-height: 14px;border: none;padding: 0 13px;">Edit</button>
                        </div>
                        <div style="padding: 12px;border-bottom: 1px solid #e6e6e6;">
                            <h4 class="mb-0" style="font-weight: bold;">Name</h4>
                            <h2 style="font-weight: bold;color: #847577;">John Doe</h2>
                        </div>
                        <div style="padding: 12px;border-bottom: 1px solid #e6e6e6;">
                            <h4 style="font-weight: bold;">Tell us about yourself and let people know who you are</h4>
                            <p style="color: #847577;line-height: 2;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt minus illo cumque quos tempore repellendus quae unde iste atque rem!</p>
                        </div>
                        <div style="padding: 12px;border-bottom: 1px solid #e6e6e6;">
                            <h4 style="font-weight: bold;">Address</h4>
                            <p>Lorem ipsum dolor sit.</p>
                        </div>
                        <div style="padding: 12px;">
                            <h4>Find me on</h4>
                            <div class="profile-social-links" style="justify-content: start;">
                                <div class="icon hover-actions">
                                    <i class="bi bi-facebook"></i>
                                </div>
                                <div class="icon hover-actions">
                                    <i class="bi bi-instagram"></i>
                                </div>
                                <div class="icon hover-actions">
                                    <i class="bi bi-twitter-x"></i>
                                </div>
                                <div class="icon hover-actions">
                                    <i class="bi bi-linkedin"></i>
                                </div>
                                <div class="icon hover-actions">
                                    <i class="bi bi-youtube"></i>
                                </div>
                                <div class="icon hover-actions">
                                    <i class="bi bi-dribbble"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="currentTile === 'blogs'" id="about" class="my-4 shadow-sm rounded" style="background-color: #ffff;">
                        <div style="display: flex;justify-content: space-between;align-items: center;border-bottom: 1px solid #e6e6e6;padding: 12px;">
                            <h3 class="mb-0" style="font-weight: bold;">All Blogs</h3>
                            <button style="background-color: #ff7555;border-radius: 5px;color: #ffff;height: 40px;line-height: 14px;border: none;padding: 0 13px;">Add Blog</button>
                        </div>
                        <div class="p-2">
                          <app-blog-draft (updateSelectedBlog)="openBlogDialog($event)"  (blogsUpdated)="onBlogsUpdate()" [blog]="blog" *ngFor="let blog of blogs"></app-blog-draft>                         
                        </div>        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>