/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;

    .hover-actions {
        transition: all ease .3s;
        cursor: pointer;

        &:hover {
            background-color: #ff7555!important;
            color: #ffff!important;
        }
    }

    .auth-wrapper {
        min-height: 80%;

        .row {
            height: 70%;
        }
    }

    // .input-outline {
    //     transition: all ease .3s;
    //     outline: none;
    //     border: none;
    //     border-radius: 5px;
        

    //     &:hover {
    //         border:1px solid #ff7555;
    //     }
    // }
 }
