/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(245, 245, 245);


    .hover-actions {
        transition: all ease .3s;
        cursor: pointer;
        border: 1px solid transparent;

        &:hover {
            background-color: #ff7555!important;
            color: #ffff!important;
        }
    }

    .auth-wrapper {
        min-height: 80%;
        
        .row {
            background-color: #ffff;
            height: 70%;
        }
    }


    .accent-color {
        transition:all ease-in .2s;
        cursor: pointer;

        &:hover {
            color: #ff7555!important;
        }
    }

 }
