#alert {
    animation: fadeIn .5s;
}


.success {
    background-color: #ffff;
}


.error {
    background-color: rgb(240, 240, 240);
}


@keyframes fadeIn {
    0% {
        right: -200px;
        opacity: 0;
    }

    75% {
        right: 2.5rem;
    }

    100% {
        right: 2rem;
        opacity: 1;
    }
    
}