<div class="card">
    <div class="card__image" style="background-image: url(../../../assets/top.jpg);">

    </div>
    <div class="card__body" style="padding: 20px;">
        <span style="font-size: 12px;color: #847577;">1 month ago</span>
        <h4 style="font-size: 18px;color: #313131;font-weight: 600;margin-top: 6px;cursor: pointer;" routerLink="/blog-view">Blog Title</h4>
        <p style="font-size: 14px;color: #847577;margin-top: 17px;margin-bottom: 0;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut non cumque, provident soluta reprehenderit aperiam illum, reiciendis cum, praesentium asperiores optio.</p>
        <div class="d-flex justify-content-between mt-5">
            <div style="color: #847577;">
                By <span style="color: #313131;"> John Doe</span>
            </div>
            <div>
                <span style="color: #313131;"> 3 Comment</span>
            </div>
        </div>
    </div>
</div>
